@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  /* Targets all scrollbars */
  ::-webkit-scrollbar {
    @apply w-0.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }
}

.slick-next {
  right: 25px !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-prev,
.slick-next {
  z-index: 1;
}

.slider-grid .slick-list {
  overflow: inherit !important;
}
